/* reset */
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        
*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

a:hover {
    border-bottom: 1px dashed #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

ul {
    padding: 10px 20px;
}

li {
    list-style: none;
}

/* info */
.info {
    position: fixed;
    z-index: 1000;
}

.info h1 {
    font-size: 20px;
    border-bottom: 1px dashed #000;
    margin-bottom: 8px;
}

.info h1 a {
    color: #000;
}

.info p, .info li {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 3px;
    color: #000;
}

.info li span {
    color: #000;
} 

.info li.active a:last-child {
    background: #000;
    color: #fff;
}

.info.left {
    left: 20px;
    top: 20px;
}

.info.right {
    right: 10px;
    top: 10px;
}

.info.right a {
    display: inline-block;
    margin-left: 5px;
    width: 20px; height: 20px;
    border: 1px dashed #000;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    transition: all 0.2s;
    color: #000;
}

.info.right a:hover {
    background: #000;
    color: #fff;
}

.info.bottom {
    right: 10px;
    bottom: 10px;
}

.info.view {
    left: 20px;
    bottom: 20px;
}

.info.view a {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 30px;
}

@media (max-width: 800px){
    .info.bottom {display: none;}
    .info.right {display: none;}
}

/* main */
body {
    --color-h1: #dc6e25;
    --color-title: #fff;
    --color-sub: #fff;
    --color-link: #fff;
    --color-bg: #ccc;
    --font-family: 'Lato','Chosunilbo_myungjo';
    --aspect-ratio: 33/17;
    --image-width-max: 500px;

    background-color: var(--color-bg);
    font-family: var(--font-family);
    color: var(--color-title);
}

#wrap h1 {
    font-size: 8vw;
    line-height: 1.2;
    color: var(--color-h1);
    padding: 10vw 8vw 0 8vw;
    text-transform: uppercase;
}

#wrap h1 em {
    display: block;
    font-family: 'Lato';
    font-weight: 100;
    padding-left: 18vw;
}

.contents {
    margin: 0 auto 35vh;
    width: 100%;
    overflow: hidden;
}

.content-item {
    position: relative;
    /* --image-width: calc(var(--image-width-max) * var(--aspect-ratio));
    width: var(--image-width); */
    width: 1000px;
    max-width: 90vw;
    margin: 60vh 0 60vh;
}

.content-item:nth-child(even) {
    margin-left: auto;
}

.content-item-num {
    font-size: 25vw;
    font-weight: 100;
    position: absolute;
    right: -5vw;
    top: -20vw;
    opacity: 0.07;
    color: var(--color-link);
}

.content-item:nth-child(even) .content-item-num {
    right: auto;
    left: -5vw;
}

.content-item-title {
    text-align: right;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-sub);
    padding-bottom: 0.8vw;
    font-size: 1.5rem;
}

.content-item:nth-child(even) .content-item-title {
    text-align: left;
}

.content-item-imgWrap {
    position: relative;
    --width: 100%;
    width: var(--width);
    padding-bottom: calc(var(--width) / (var(--aspect-ratio)));
    overflow: hidden;
    background: #ccc;
}

.content-item-img {
    width: var(--width);
    --overflow: 60px;
    position: absolute;
    top: calc(-2 * var(--overflow));
    height: calc(100% + (2 * var(--overflow)));
    background-size: cover;
    background-position: 50% 0;
}

.content-item-desc {
    font-size: 5vw;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-title);
    text-align: right;
    word-break: keep-all;
    margin-top: -6vw;
    margin-right: -4vw;
    position: relative;
    z-index: 20;
    font-weight: normal;
}

.content-item:nth-child(even) .content-item-desc {
    text-align: left;
    margin-right: 0;
    margin-left: -4vw;
}

#section1 .content-item-img {
    background-image: url(../assets/img/su09.jpg);
}

#section2 .content-item-img {
    background-image: url(../assets/img/su02.jpg);
}

#section3 .content-item-img {
    background-image: url(../assets/img/su03.jpg);
}

#section4 .content-item-img {
    background-image: url(../assets/img/su04.jpg);
}

#section5 .content-item-img {
    background-image: url(../assets/img/su05.jpg);
}

#section6 .content-item-img {
    background-image: url(../assets/img/su06.jpg);
}

#section7 .content-item-img {
    background-image: url(../assets/img/su07.jpg);
}

#section8 .content-item-img {
    background-image: url(../assets/img/su08.jpg);
}

#section9 .content-item-img {
    background-image: url(../assets/img/su01.jpg);
}
